[run]
source = mushroom
omit =
  */test_*.py
  mushroom/core/timing.py

[report]
ignore_errors = True
exclude_lines =
    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if non-runnable code isn't run:
    if __name__ == .__main__.:

    raise NotImplementedError

    # Don't complain missing tests for functions calling external program
	def _run_gracebat

    # Don't compain the rare event
    raise FileNotFoundError("database directory is not found", mushroom_db_home.name)

    # Don't complain missing tests for some experimental features
    def _read_aims_single_specfunc_dat
	def savefig
	def fold_small_G_semisphere
	def add_scheduler_header
