# ignore all complied files
*.pyc
__pycache__
*.swp
*.o
*.log
*.tmp
.cache
.DS_Store

# jupyter checkpoints
.ipynb_checkpoints
*-checkpoint.ipynb

# distribution
build/
dist/
*.egg-info

# pyenv
.python-version

# example temporary files

#editor and cache
.idea/
.vscode/
.pytest_cache/
.cache/
*coverage*

# prototypes
prototype/

# workflow database
db/workflow/vasp_*/vasp.sh
db/workflow/*/common.sh
!db/workflow/libs/*.sh

# test scripts with underscore prefix
scripts/_*.py

mcm.info
commit.info
