# ignore all complied files
*.pyc
__pycache__
*.swp
*.o
*.log
.cache
.DS_Store

# jupyter checkpoints
.ipynb_checkpoints
*-checkpoint.ipynb

# distribution
build/
dist/
*.egg-info

# example temporary files

#editor and cache
.idea/
.vscode/
.pytest_cache/
.cache/
.coverage

# workflows
workflows/vasp_*/vasp.sh
workflows/*/common.sh
!workflows/libs/*

mcm.info
commit.info
