# ignore all complied files
*.pyc
__pycache__
*.swp
*.o
*.log
*.tmp
.cache
.DS_Store

# jupyter checkpoints
.ipynb_checkpoints
*-checkpoint.ipynb

# distribution
build/
_build/
dist/
*.egg-info

# pyenv
.python-version

# example temporary files

#editor and cache
.idea/
.vscode/
.pytest_cache/
.cache/
*coverage*

# prototypes
prototype/

# workflow database
db/workflow/*/vasp.sh
db/workflow/*/w2k.sh
db/workflow/*/common.sh
!db/workflow/libs/*.sh
# ignore cell database, for license issue
db/cell

# test scripts with underscore prefix
scripts/_*

mcm.info
commit.info
